<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar">
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Home</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="/" data-i18n="nav.sample-page.main">
                            <span class="pcoded-micon"><i class="ti-layout-sidebar-left"></i></span>
                            <span class="pcoded-mtext">Dashboard</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/sales" data-i18n="nav.sample-page.main">
                            <span class="pcoded-micon"><i class="ti-layout-sidebar-left"></i></span>
                            <span class="pcoded-mtext">Sales</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-clipboard"></i></span>
                    <span class="pcoded-mtext">Manage</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="/user" data-i18n="nav.sample-page.main">
                            <span class="pcoded-micon"><i class="ti-layout-sidebar-left"></i></span>
                            <span class="pcoded-mtext">User</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/branches" data-i18n="nav.sample-page.main">
                            <span class="pcoded-micon"><i class="ti-layout-sidebar-left"></i></span>
                            <span class="pcoded-mtext">Branches</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>